<?xml version="1.0" encoding="UTF-8"?>
<configuration name="PRODUCTION" status="OFF">
    <Properties>
        <Property name="server-all">logs/server/server-all.log</Property>
        <Property name="server-error">logs/server/server-err.log</Property>
        <Property name="client-all">logs/client/client-all.log</Property>
        <Property name="client-error">logs/client/client-err.log</Property>
        <Property name="interface-all">logs/interface/interface-all.log</Property>
        <Property name="interface-error">logs/interface/interface-err.log</Property>
    </Properties>
    <appenders>
        <!-- Standard console appender -->
        <Console name="appender-Console-all" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
        </Console>
        
        <!-- Appenders -->
        <File name="appender-server-all" fileName="${server-all}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="appender-server-error" fileName="${server-error}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="appender-client-all" fileName="${client-all}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="appender-client-error" fileName="${client-error}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="appender-interface-all" fileName="${interface-all}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
        <File name="appender-interface-error" fileName="${interface-error}" append="true">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </appenders>
    <loggers>
        <root level="DEBUG">
            <appender-ref ref="appender-Console-all"/>
        </root>
        
        <Logger name="controller.server" additivity="TRUE" level="ALL">
            <AppenderRef ref="appender-server-all" level="ALL"/>
            <AppenderRef ref="appender-server-error" level="ERROR" />
        </Logger>
        
        <Logger name="controller.client" additivity="TRUE" level="ALL">
            <AppenderRef ref="appender-client-all" level="ALL"/>
            <AppenderRef ref="appender-client-error" level="ERROR" />
        </Logger>
        
        <Logger name="view" additivity="TRUE" level="ALL">
            <AppenderRef ref="appender-interface-all" level="ALL"/>
            <AppenderRef ref="appender-interface-error" level="ERROR" />
        </Logger>
        
    </loggers>
</configuration>